<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- 目标对象 -->
	<bean id="helloService" class="org.springframework.demo.aop.HelloServiceImpl" />
	<!-- 切面类 -->
	<bean id="artistAspect" class="org.springframework.demo.aop.ArtistAspect"/>
	<!-- 自动代理生成器 -->
	<aop:aspectj-autoproxy />

<!--	<bean id="hello" class="org.springframework.demo.Hello" />-->

	<!-- set注入 -->
	<!--<bean id="entityA" class="org.springframework.demo.A">
	</bean>
	<bean id="entityB" class="org.springframework.demo.B">
	</bean>-->

	<!-- 构造器依赖（Spring无法解决，报异常：BeanCurrentlyInCreationException）-->
	<!--<bean id="entityA" class="org.springframework.demo.A">
		<constructor-arg ref="entityB" />
	</bean>
	<bean id="entityB" class="org.springframework.demo.B">
		<constructor-arg ref="entityA" />
	</bean>-->

</beans>